:root {
    --color-primary: #ddd8d8;
    --color-white: rgb(0, 0, 0);
    --color-active: #888b8d;
    --color-background: #ffffff;
}

/*SCROLL COLOUR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);    
}

nav{
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
}

label.logo{
    color: var(--color-white);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: var(--color-white);
}

nav ul li a{
    color: var(--color-white);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.nav:hover{
    background-color: var(--color-active);
    color: var(--color-primary);
}

.active{
    background-color: var(--color-active);
    color: var(--color-primary);
}


.checkbtn{
    font-size: 30px;
    color: var(--color-white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--color-background);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s; 
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: var(--color-active);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

label:hover{
    cursor: pointer;
}

/* Search */
.search-section {
    padding: 20px;
    text-align: center;
}

#searchInput {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}



/* Main shoes.php */
.container {
    max-width: 1200px;
    width: 80%; /* Adjust the width to your preference */
    margin: 0 auto; /* Center the container */
    padding: 20px;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center; /* Center the title */
}

.shoe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.shoe-card {
    background-color: #dbd4d4;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    text-align: center;
}

.shoe-card:hover {
    transform: scale(1.05);
}

.shoe-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.shoe-card img:hover {
    transform: scale(1.1);
}



/* Main index.html */
.image-slider-container {
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    height: 75vh; /* Pas de hoogte aan zoals nodig voor je ontwerp */
}

.image-slider {
    max-width: 100%; /* Maximale breedte van de slider is 100% */
    text-align: center; /* Centreer de inhoud in de slider */
    padding: 20px; /* Voeg wat padding toe om de afbeeldingen van de randen weg te houden */
}

.image-slider img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto; /* Voeg deze regel toe om de afbeeldingen horizontaal te centreren */
}

@media (max-width: 768px) {
    .image-slider-container {
        padding: 20px; /* Voeg padding toe aan de container op kleinere schermen, zoals eerder gedefinieerd */
    }

    .image-slider {
        max-width: 100%; /* Behoud de responsiviteit van de slider */
    }
}

.trending-shoes {
    text-align: center;
    padding: 20px;
}

.trending-shoes h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.shoes-cards {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* Voeg een rand toe rond elke kaart */
    border-radius: 5px; /* Voeg afgeronde hoeken toe aan de kaart */
    width: 250px; /* Pas de breedte aan zoals nodig */
    padding-bottom: 20px;
}
.shoes-cards button {
    background-color: #007bff; /* Achtergrondkleur van de knop */
    color: #fff; /* Tekstkleur van de knop */
    padding: 10px 20px; /* Binnenruimte van de knop */
    border: none; /* Verwijder de rand van de knop */
    border-radius: 5px; /* Rond de hoeken van de knop af */
    cursor: pointer; /* Wijs op een aanwijsaanwijzer toe aan de knop */
    font-size: 16px; /* Tekengrootte van de knop */
}

.shoes-cards button:hover {
    background-color: #0056b3; /* Achtergrondkleur van de knop bij hover */
}

.shoes-cards img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.shoes-cards p {
    margin: 5px 0;
}


/* Footer */
footer {
    background-color: #333; /* Achtergrondkleur van de footer */
    color: #fff; /* Tekstkleur in de footer */
    padding: 20px; /* Binnenruimte van de footer */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.go-to-top a {
    color: #fff; /* Tekstkleur van de "Ga naar boven" link */
    text-decoration: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff; /* Tekstkleur van de footerlinks */
    text-decoration: none;
}

.footer-image img {
    max-width: 100%;
    height: auto;
}

/* Contact */
.containercont{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Stijl voor de 'Contact us!' kop */
.contact h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Stijl voor het formuliercontainer */
.form-containercont {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
}

/* Stijl voor het formulier binnen het formuliercontainer */
.formcont {
    text-align: left;
}

/* Stijl voor formuliervelden en labels */


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
    resize: vertical;
}

/* Stijl voor de verzendknop */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Optioneel: Stijl voor het succesbericht */
.success-message {
    color: #4CAF50;
    margin-top: 10px;
    text-align: center;
}